# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.pyo
*.pyd
*.so

# Virtual env
venv/
.venv/
env/
ENV/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Logs
*.log

# Test cache
.pytest_cache/ 